module.exports = {
  plugins: [
    [
      'module-resolver',
      {
        'alias': {
          '@assets': './src/assets',
          '@components': './src/components'
        },
      },
    ],
  ],
};